[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Rclone pwn-notes Mount
Comment=Mounts Google Drive Vault pwn-notes
Exec=rclone mount gdrive:/Remote/Vaults/pwn-notes /home/marco/Documents/pwn-notes --vfs-cache-mode writes --daemon --allow-other --vfs-cache-max-size 10G --vfs-cache-max-age 24h --dir-cache-time 5m --poll-interval 1m
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

